version: '2'
services:
  proxy:
    image: haproxy:1.7.9
    container_name: proxy
    restart: always
    ports:
#      - 80:80
#      - 445:445
#      - 2049:2049
      - 14500:14500 # required to access wireshark, change first port if necessary
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:Z
  wireshark:
    image: "ffeldhaus/wireshark:0.2"
    container_name: wireshark
    restart: always
    privileged: true
    network_mode: "service:proxy"
    environment:
      - XPRA_PW=wireshark # password to access wireshark
